[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fastkmedoids"]
	path = fastkmedoids
	url = https://github.com/lixun910/fastkmedoids
